:root {
    --black_color: #1e1b1b;
    --white_color: #f5f5f5;

    --font: "Rubik", sans-serif;
    --font-light: 300;
    --font-bold: 500;

    --comic-border: 10px solid var(--black_color);

    --titles-size: 3rem;
    --subtitle-size: 1.7rem;
    --bottoms-icon-size: 1.5rem;
}

